/*..................FONTS.............*/
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bigshot+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

/*............................................*/

* {
  margin: 0;
  padding: 0;
}

.Nav_ul {
  display: flex;
  align-items: center;
  left: 20px;
  position: relative;
}

@media (max-width: 770px) {
  .Nav_ul {
    position: fixed;
    flex-direction: column;
    top: 80px;
    justify-content: center;
    width: 100%;
    line-height: 50px;
    left: -100%;
    text-align: center;
    background: White;
    z-index: 10;
    transition: all 0.5s ease-in-out;
    border-top: 0.5px solid #ababab;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  .Nav_ul.open {
    left: 0;
    transition: all 0.5s ease-in-out;
  }
}
